# Supabase
DATABASE_URL=

# Github OAuth Dev App
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# BetterAuth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL="http://localhost:3000"

# Google OAuth App
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
